 *{ margin: 0; padding: 0; text-decoration: none;}
body { padding: 20px;}
#container {
 width: 334px; 
 height: 220px;
  border: 3px solid #333; 
  overflow: hidden; 
  position: relative;}
#last { 
        width: 2338px; 
        height: 220px; 
        position: absolute; 
        z-index: 1;}
#last img { float: left;
            width:334px;
            height: 220px;}
#buttons { 
        position: absolute;
 height: 10px; width: 100px; 
 z-index: 2; 
 bottom: 20px; 
 left: 250px;}
#buttons span { 
        cursor: pointer; 
        float: left;
         border: 1px solid #fff; 
         width: 10px; height: 10px;
          border-radius: 50%;
           background: #333; 
           margin-right: 5px;}
#buttons .on { 
 background: orangered;}
.arrow {
   cursor: pointer;
  display: none; 
  line-height: 39px; 
  text-align: center; 
  font-size: 36px; 
  font-weight: bold; 
  width: 40px;
  height: 40px;  
  position: absolute; 
  z-index: 2; 
  bottom: 80px; 
  background-color: RGBA(0,0,0,.3); 
  color: #fff;}
.arrow:hover { 
        background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { 
        display: block;}
#prev { left: 20px;}
#next { right: 20px;}